$primary-text-color: #212121;
$hero--text-color: white;
$text-color: #757575;
$accent-color: #2196f3;
$info--footer-color: rgba(255, 255, 255, 0.6);
$footer-color-fon: #2f303a;
$section-color: #afb1b8;
$blok-title: rgba(47, 48, 58, 0.8);
$button-color: rgb(73, 180, 247);
$pic-feature-wrap-color: #f5f4fa;
$developers-text-footer: rgba(255, 255, 255, 0.4);
$footer-social-beckground: rgba(255, 255, 255, 0.1);

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-values: 250ms, $timing-function;
